body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #007BFF;
  color: white;
  text-align: center;
  padding: 20px;
}

.productos {
  padding: 20px;
}

.productos-grid {
  display: flex;
  gap: 20px;
}

.producto {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.producto img {
  width: 100px;
  height: 100px;
}

.empresa, .contacto {
  padding: 20px;
  background-color: #f4f4f4;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #28A745;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
  border-radius: 50%;
  background-color: #ffffff;
}

.boton-flotante {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  z-index: 999999;
  width: 80%;
  margin-top: -50px;
}
