<main class="main container">
  <header class="header">
  <h1>La Comercial</h1>
</header>

<section class="productos">
  <h2>Nuestros Productos</h2>
  <div class="productos-grid">
    @for(producto of productos; track producto.nombre) {
      <div class="producto">
        <img
        [src]="'http://localhost:3000/uploads/'+ producto.imagen||'nodisponible.png'"
        alt="{{ producto.nombre }}" />
        <h3>{{ producto.nombre }}</h3>
        <p>$ {{ producto.precio }}</p>
      </div>
    }
  </div>
</section>

<section class="empresa">
  <h2>Sobre Nosotros</h2>
  <p>Somos un bazar especializado en artículos de importación. Ofrecemos productos exclusivos y de alta calidad.</p>
</section>

<section class="contacto">
  <h2>Contacto</h2>
  <form (submit)="enviarFormulario($event)">
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="nombre" name="nombre" required>

    <label>Correo:</label>
    <input type="email" [(ngModel)]="correo" name="correo" required>

    <label>Mensaje:</label>
    <textarea [(ngModel)]="mensaje" name="mensaje"></textarea>

    <button type="submit">Enviar</button>
  </form>
</section>

</main>
