<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Inicio</a>
      <a mat-list-item routerLink="/productos">Productos</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <h2><a routerLink="/">La Comercial</a></h2>
    </mat-toolbar>
    <header class="bg-indigo-600 text-white shadow-md">
      <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
        <h1 class="text-xl font-bold">📦 Gestión de Productos</h1>

        <div class="flex items-center gap-4">
          @if (usuario) {
          <span class="text-sm">
            Hola, <strong>{{ usuario }}</strong>
          </span>
          <button (click)="logout()" class="bg-red-500 hover:bg-red-600 px-3 py-1 rounded-lg text-sm">
            Cerrar sesión
          </button>
          } @else {
          <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="bg-red-500 hover:bg-red-600 px-3 py-1 rounded-lg text-sm">
            Login
          </a>
          <a [routerLink]="['/registro']" class="bg-red-500 hover:bg-red-600 px-3 py-1 rounded-lg text-sm">
            Registrarse
          </a>
          }

        </div>
      </div>
    </header>
    <!-- Add Content Here -->
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
